<h1>Real Time Products</h1>
<form id="formulario">
    <input type="text" name="product" id="product">
    <input type="submit" value="Enviar">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/index.js"></script>